<ion-icon  src = "/path/to/external/file.svg" > </ion-icon >
< ion-icon  src = "/path/to/external/file.svg" > </ ion-icon >
body{
  font-family: 'Titillium Web', sans-serif;
}
h1{ font-size: 66px;  font-weight: 600px; line-height: 80px;}
h2{ font-size: 48px;  margin-bottom: 30px;}
h5{margin-bottom: 0px}
p{ font-size: 18px;
  color: #000000;
  line-height: 1.8;
}

a:hover{
  text-decoration: none;
}

a i{
  font-size: 22px;
  color: #ffffff;
}

section{
  padding: 100px 0;
}

/*parte de abautus*/
.bg-light-grey {background-color: #f2f2f2;}
.bg-dark{background-color: #000000 !important;}

.topmargin-lg{margin-top: 60px !important;}
.topmargin-sm{margin-top: 60px !important;}
.topmargin-xs{margin-top: 60px !important;}

.navbar{
  background-color:  #ffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1.5);
  min-height: 100px;
}

.btn{
  font-size: 18px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

.btn-light {
  background-color: #ffffff;
  color: #1a1a1a;
  border: 2px solid #ffffff;
}

.btn-dark {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 2px solid #1a1a1a;
}

.btn-transparent{
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-transparent:hover{
  color: #ffffff;
}

.full-width{
  width: 100%;
}

.text-dark{color: #1a1a1a;}

.divider{
  border-bottom: 2px solid #ffffff;
}

.form-control{
  font-size: 14px;
  border: 1px solid #cacaca;
  padding: 15px;
  border-radius: 2px;
  height: auto;
}

.form-control:focus{
  border: 1px solid #1a1a1a;
  outline: none;
  box-shadow: none;
  height: auto;
}

.divbar{
  background-color:  #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-width: 100px;
}

ion-icon {

  font-size: 50px;
  margin-left: 5px;
  margin-top: 1px;

}

.nav-link{color: #1a1a1a;}
.nav-link:hover {color: #1a1a1a;}

.logo-brand{
  min-width: 150px;
  max-width: 180px;
}

.navbar-toggler{ font-size: 40px;}
.navbar-toggler:focus{ outline: none;}

#hero{
  background-image: url('../images/fondo.jpg');
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: #ffffff;
}

#hero p{
  color: #ffffff;
}

.content-center{
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}


.portafolio-container{
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}
.portafolio-container img{
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.portafolio-container:hover img{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portafolio-details{
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.portafolio-details a h2, .portafolio-details a p {
  color: #ffffff;
  font-size: 22px;
}
.portafolio-details h2{
  margin-bottom: 0px;
}


.member-container{
  position: relative;
  margin: 10px 0;
}

.member-details {
  position: absolute;
  color: #ffffff;
  bottom: 2px;
  left: 30px;
}

.member-details span{
  font-size: 14px;
}

.member-details ion-icon{
  padding: 0 5px;
  color: #ffffff;
}

.pricing-container {
  margin: 15px 0;
}

.plans{
  padding: 50px 80px;
  border-radius: 2px;
  min-width: 450px;
}

.plan-light {
  background-color: #ffffff;
  border: 2px solid #1a1a1a;
}

.plan-dark {
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  color: #ffffff;
}

.plans h2{
  font-size: 70px;
  font-weight: 600;
}
.plans span{
  font-size: 20px;
}
.plans ul {
  list-style-type: square;
}

.carousel {
  min-height: 240px;
  padding: 40px;
  border-radius: 2px;
  text-align: center;
}

.carousel p{
  font-size: 26px;
  font-weight: 400;
  color: #1a1a1a;
}

.carousel-indicators li{
  background-color: #1a1a1a;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin: 0 8px;
}

.carousel-control-next  .carousel-control-prev {
  color: #ffffff;
  opacity: 1;
  width: 5%;
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.control-button  {
  background-color: #1a1a1a;
  opacity: 1;
  width: 50px;
  height: 30px;
  padding: 30px;
  border: 1px solid #1a1a1a;
  border-radius: 50%;
  font-size: 20px;
}

.rating i {
  color: #ffb944;
  font-size: 26px;
}
.testimonial-user{
  max-width: 240px;
  margin: 0 auto;
  text-align: left;
}

.testimonial-user h6{
  margin-bottom: none;

}

.testimonial-user span{
  font-size: 12px;
}

.testimonial-user img{

  max-width: 500px;
  max-height: 500px;
  font-size: 20px;
}

.carousel-indicators{
  margin-top: 20px;
  border-radius: 50%;
  color: red;
}

#footer{
  padding: 80px 0;
  text-align: center;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
}

#footer:hover{
  color: #ffffff;
}

#footer .list-inline-item {
  padding: 10px 15px;
}

#footer ion-icon p {
  color: blue;
}


@media (max-width: 575.98px) {

  h1 { font-size: 40px; line-height: normal; }
    .portfolio-details h2 { font-size: 32px; }
    .plans { min-width: unset; padding: 40px; }
    .carousel-item p { font-size: 20px; }

    .footer-menu {
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;

 }
 section{
padding: 0px;
 }
 .logo-brand{
   min-width: 60px;
   max-width: 80px;
 }


 }

@media (min-width: 576px) and (max-width: 767.98px) { }


@media (min-width: 768px) and (max-width: 991.98px) {
  .portafolio-details h2{font-size: 30px;}
  .plans {min-width: unset; padding: 40px 20px;}
 }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }
